<%- include ("../../views/_headeradmin") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                            <form action="/admin/detail/<%= data.id %>" method="post">
                                <center>
                                    <h1 style="color: #5a5a5a;">รายละเอียดของผู้ดูแล</h1>
                                </center>
                                <br>
                                <table class = "table  table-bordered table-hover">
                                    <tbody>
                                      <tr >
                                          <td> <h5 id = "name" ><font id="f2">  ชื่อผู้ใช้ </font> :  <font id = 'f1'> <%= data.username%> </font>    </h5> </td>
                                        </tr>
                                        <tr>
                                          <td> <h5 id = "name" ><font id="f2">  รหัสผ่าน : </font>   <font id = 'f1'> <%= data.password %> </font></h5> </td>
                                        </tr>
                                        <tr>
                                          <td> <h5 id = "name" ><font id="f2">  ชื่อ : </font>  <font id = 'f1'><%= data.firstname %>  <%= data.lastname %></font></h5> </td>
                                        </tr>
                                        
                                          
                                      </tbody>
                                    </table>
                                  <br>
                                    <a href="/admin" class="btn btn-info" align = "left"> กลับ </a>
                                    

                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #yes {
            position: relative;
            left: 75.8%;
        }
        #f1{
          position: relative;
          font-weight: normal;  
        }
        tr {
          color : #5a5a5a;
        }
        font{
          font-weight: bold;
        }
        #f2{
          font-weight: bold;
        }

    </style>

    <%- include ("../../views/_footer") %>