<%- include ("../../views/_header") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <form action="/ot/offset_time_ot" method="post"> 
                            <center>
                                <h1>เลือกวันชดเชยเวลา</h1>
                            </center>
                            <br>
                            <h5>
                                <div class="form-group" >
                                    <h5>เวลาที่สามารถใช้ได้ : </h5>
                                    <font id="testtime1" color = "red">
                                        
                                                                 
                                                                
                                            <%if(data.otds.split(":")[1] < data.otde.split(":")[1]){%>
                                                <%=( ( ( (Number(data.otde.split(":")[1]) - Number(data.otds.split(":")[1]) - Number(data.break_time.split(":")[0]) ) *60 )
                                                + ( Number(data.otde.split(":")[2]) - Number(data.otds.split(":")[2]) - Number(data.break_time.split(":")[1]) ) ) / 60 )  %>                                                                      
                                                
                                                <%}else if(data.otds.split(":")[1] > data.otde.split(":")[1]){%>
                                                    <%=( ( ( ((Number(data.otde.split(":")[1]) + 24 ) - Number(data.otds.split(":")[1]) - Number(data.break_time.split(":")[0]) ) *60 )
                                                    + ( Number(data.otde.split(":")[2]) - Number(data.otds.split(":")[2]) - Number(data.break_time.split(":")[1]) ) ) / 60 )  %>                                                                                                                                                                                                  
                                                    <%}%>  ชม./นาที

                                       
                                      
                                        </font>
                                        
                                    </div>
                                <div class="from-grop">
                                    <h5>วันขอชดเชยล่วงเวลา (จากเริ่ม):<font color="red">*</font>
                                    </h5>
                                    <input type="datetime-local" name="offset_time_source"
                                        class="form-control" id="new"  required> </input>
                                </div><br>
                                <div class="from-grop">
                                    <h5>วันขอชดเชยล่วงเวลา (สิ้นสุด):<font color="red">*</font>
                                    </h5>
                                    <input type="datetime-local" name="offset_time_destination"
                                        class="form-control" id="new2"  required> </input>
                                </div>
                                <br>

                                <input type="text" name="ot_id" value="<%=data.otid%>"
                                   hidden > </input>
                            </h5>
                            <br>
                            <a href="/ot/offset_time_ot_list/<%=data.emid%>" class="btn btn-info" align="right"> กลับ </a>
                            <button type="submit" class="btn btn-success " id="yes" onclick="return valiDator()"> ยืนยัน </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #yes {
            position: relative;
            margin-left: 78.5%;
        }
        #re1{
            width: 48.8%;
            padding: 10px 10px;
            display: inline-block;
            margin: 8px 0;
            margin-left: 0%;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            size: 5%;
        }
        
        #testtime1{
            font-weight: normal;
        }
        #f2{
            margin-left: 43%;
        }
        
    </style>
    <script>
          
  document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("กรุณากรอกช่องนี้");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
})

function valiDator() {
            var time1 = document.getElementById("testtime1")
            var a  = time1.innerHTML.split(/[\n- ]+/);
            var datetime = $("#new").val();
            var datetimearray = datetime.split(/[T:]+/);
            var datetime2 = $("#new2").val();
            var datetimearray2 = datetime2.split(/[T:]+/);
            var sumdatetimearray = (((datetimearray2[1] - datetimearray[1]) * 60 )   + (datetimearray2[2] - datetimearray[2])) / 60

            if((((datetimearray2[1] - datetimearray[1]) * 60 )   + (datetimearray2[2] - datetimearray[2])) / 60   > a[1] || (((datetimearray2[1] - datetimearray[1]) * 60 )   + (datetimearray2[2] - datetimearray[2])) / 60  < 0      ){
                alert("กรุณาแก้ไขเวลาลาให้ถูกต้อง" );
                return false;
            }else if(  (((datetimearray2[1] - datetimearray[1]) * 60 )   + (datetimearray2[2] - datetimearray[2])) / 60  <= a[1] ){
                return true;
            }
        }
    </script>



    <%- include ("../../views/_footer") %>