<%if(session.admin){%>
    <%- include ("../../views/_headeradmin") %>
        <%}else if (session.hr){%>
            <%- include ("../../views/_headerhr") %>
                <%}else if (session.employee){%>
                    <%- include ("../../views/_headereemployee") %>
                        <%}else if (session.leader){%>
                            <%- include ("../../views/_headerleader") %>
                                <%}else if (session.leaderinstall || session.leaderma || session.leaderinstallandma){%>
                                    <%- include ("../../views/_headerleader2") %>
                                        <%}else{%>
                                            <%- include ("../../views/_headerleader") %>
                                                <%}%>
                                                
        <%if(data2[0].date.split(/[\n :/]+/)[0] >= 16 ){%>  
            <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:5px">
                <div class="w3-row-padding w3-padding-16 w3-center">
                    <div class="w3-rest  w3-container">        
        <div class="container mt-5" onclick="" id="form1">
           <div style="overflow-x:auto;margin-top: 25px;" align="center">
                    <div>
                        <div >
                            <div>
                                <center>
                                    <h1>ใบสรุปชดเชยวันล่วงเวลาทำงาน</h1>
                                </center>
                                <table class="table table-bordered table-hover">
                                    <thead align="center">
                                        <tr class="table-active">
                                            <th>ลำดับ</th>
                                            <th>ชื่อ-นามสกุล</th>
                                            <th>วันที่ทำ OT </th>
                                            <th>เวลาเริ่มทำ OT - สิ้นสุด OT</th>
                                            <th>รวมเวลา ชม./นาที</th>
                                            <th>หักเวลาพัก ชม./นาที</th>                            
                                            <th>ตัวเลือก</th>
                                        </tr>

                                    </thead>

                                    <tbody align="center">
                                        <% if(data){ %>
                                            <% for(var i=0 ; i < data.length;i++){ %>
                                                <%if(data[i].status == 3 && data[i].statusot == 0  ){%>
                                                    <%if(data[i].otdo.split("/")[0] >=  16 && (Number(data2[0].date.split(/[\n :/]+/)[1])  +  Number(1)) >=  Number(data[i].month.split("-")[1]) && data[i].month.split("-")[0] == data2[0].date.split(/[\n :/]+/)[2]  && (Number(data2[0].date.split(/[\n :/]+/)[1])  +  Number(1)) >  Number(data[i].month.split("-")[1]) ){%>                                                
                                                <tr>
                                                    <td>
                                                        <%= (i+1) %>
                                                    </td>
                                                    <td align="left">
                                                        <%= data[i].sex %> <%= data[i].firstname %>
                                                            <%= data[i].lastname %>
                                                    </td>
                                                    <td>
                                                        <%= data[i].otdo %>
                                                    </td>
                                                    <td>
                                                        <%= data[i].otds %>  <br> -  <%= data[i].otde %> 
                                                    </td>                                                 
                                                    <td>                                                                                                                                  
                                                        <%if(data[i].otds.split(":")[1] < data[i].otde.split(":")[1]){%>
                                                            <%=( ( ( (Number(data[i].otde.split(":")[1]) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                            + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>                                                                      
                                                            
                                                            <%}else if(data[i].otds.split(":")[1] > data[i].otde.split(":")[1]){%>
                                                                <%=( ( ( ((Number(data[i].otde.split(":")[1]) + 24 ) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                                + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>                                                                                                                                                                                                  
                                                                <%}%>
                                                     
                                                    </td>
                                                    <td>
                                                        <%= data[i].break_time[1]%> 
                                                    </td>     
                                                    <td>
                                                        <form action="/ot/confirm_ot/<%= data[i].otid %>" method="post">
                                                            <button type="submit" class="btn btn-info" id="overtimebutton" style="width: 118px;"> ค่า OT </button>
                                                          </form>  <br>
                                                        
                                                          <a href="/ot/offset_time_ot_add/<%= data[i].otid %>" class="btn btn-primary"  style="width: 118px;height: 60px;" >ชดเชยเวลา</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                                <% } %>
                                                <% } %>
                                                <% } %>
                                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%}else if(data2[0].date.split(/[\n :/]+/)[0] < "16"  ){%>
            <center>
                <h1>ใบสรุปชดเชยวันล่วงเวลาทำงาน</h1>
            </center>
            <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:5px">
                <div class="w3-row-padding w3-padding-16 w3-center">
                    <div class="w3-rest  w3-container">        
            <div class="container mt-5" onclick="" id="form1">
                <div style="overflow-x:auto;" align="center">
                     
                                   
                                    <table class="table table-bordered table-hover">
                                        <thead align="center">
                                            <tr class="table-active">
                                                <th>ลำดับ</th>
                                                <th>ชื่อ-นามสกุล</th>
                                                <th>วันที่ทำ OT </th>
                                                <th>เวลาเริ่มทำ OT - สิ้นสุด OT</th>
                                                <th>รวมเวลา ชม./นาที</th>
                                                <th>หักเวลาพัก ชม./นาที</th>                            
                                                <th>ตัวเลือก</th>
                                            </tr>    
                                        </thead>                                                                            
                                        <tbody align="center">
                                            <% if(data){ %>
                                                <% for(var i=0 ; i < data.length;i++){ %>
                                                    <%if(data[i].status == 3 && data[i].statusot == 0  ){%>
                                                        <%if(data[i].otdo.split("/")[0] <  16 && (Number(data2[0].date.split(/[\n :/]+/)[1])  +  Number(1)) >=  Number(data[i].month.split("-")[1]) && data[i].month.split("-")[0] == data2[0].date.split(/[\n :/]+/)[2]  && (Number(data2[0].date.split(/[\n :/]+/)[1])  +  Number(1)) >  Number(data[i].month.split("-")[1]) ){%>
                                                    <tr>
                                                        <td>
                                                            <%= (i+1) %>
                                                        </td>
                                                        <td align="left">
                                                            <%= data[i].sex %> <%= data[i].firstname %>
                                                                <%= data[i].lastname %>
                                                        </td>
                                                        <td>
                                                            <%= data[i].otdo %>
                                                        </td>
                                                        <td>
                                                            <%= data[i].otds %>  <br> -  <%= data[i].otde %> 
                                                        </td>                                                 
                                                        <td>                                                                                                                                  
                                                            <%if(data[i].otds.split(":")[1] < data[i].otde.split(":")[1]){%>
                                                                <%=( ( ( (Number(data[i].otde.split(":")[1]) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                                + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>                                                                      
                                                                
                                                                <%}else if(data[i].otds.split(":")[1] > data[i].otde.split(":")[1]){%>
                                                                    <%=( ( ( ((Number(data[i].otde.split(":")[1]) + 24 ) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                                    + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>                                                                                                                                                                                                  
                                                                    <%}%>
                                                         
                                                        </td>
                                                        <td>
                                                            <%= data[i].break_time[1]%> 
                                                        </td>     
                                                        <td>
                                                            <form action="/ot/confirm_ot/<%= data[i].otid %>" method="post">
                                                                <button type="submit" class="btn btn-info" id="overtimebutton" style="width: 118px;"> ค่า OT </button>
                                                              </form>  <br>
                                                            
                                                              <a href="/ot/offset_time_ot_add/<%= data[i].otid %>" class="btn btn-success" style="width: 118px;">ชดเชยเวลา</a>
                                                        </td>
                                                    </tr>
                                                    <% } %> 
                                                    <% } %>
                                                    <% } %>
                                                    <% } %>                                                  
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>                                              
<br><br>

    <style>
        th{
            color:#5a5a5a;
        }
        tr{
            color:#5a5a5a;
        }
        #yes {
            margin-left: 81.7%;
        }

        #checkmark1 {
            position: absolute;
            margin-top: 0.6%;
            margin-left: 0%;
            height: 15px;
            width: 15px;
            background-color: #eee;
        }

        #checkmark2 {
            position: absolute;
            margin-top: 0.6%;
            margin-left: 15%;
            height: 15px;
            width: 15px;
            background-color: #eee;
        }
        #f1{
            font-weight: normal;
        }
        
    </style>
    <script>
        function calCulator(){
            var test = document.getElementById("test")
            var a  = test.innerHTML.split(/[\n ]+/);
            var test2 = document.getElementById("test2")
            var b  = test2.innerHTML.split(/[\n ]+/);
            var test3 = document.getElementById("test3")
            var c  = test3.innerHTML.split(/[\n ]+/);
            var d = a[6] - b[1]
        }
        </script>
 

    <%- include ("../../views/_footer") %>