<%if(session.admin){%>
    <%- include ("../../views/_headeradmin") %>
        <%}else if (session.hr){%>
            <%- include ("../../views/_headerhr") %>
                <%}else if (session.employee){%>
                    <%- include ("../../views/_headereemployee") %>
                        <%}else if (session.leader){%>
                            <%- include ("../../views/_headerleader") %>
                                <%}else if (session.leaderinstall || session.leaderma || session.leaderinstallandma){%>
                                    <%- include ("../../views/_headerleader2") %>
                                        <%}else{%>
                                            <%- include ("../../views/_headerleader") %>
                                                <%}%>
        <div class="container mt-5" onclick="" id="form1">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-20">
                    <div>
                        <div >
                            <div >
                                <center>
                                    <h1>ใบสรุปชดเชยวันล่วงเวลาทำงาน</h1>  <br>
                                    
                                </center>
                                <h4><font style="font-weight: bold;"> ชื่อ-นามสกุล :</font> <font id="f1"> <%=data[0].sex%> <%=data[0].firstname%> <%=data[0].lastname%> </font><font style="font-weight: bold;"> ฝ่าย :</font> <font id="f1">  <%=data[0].subdepartment%> </font></h4>
                                <input type="month" id="myInput1" class="form-control fa fa-search w3-left"  placeholder="ดด/ปปปป"
                                                                    onchange="myFunction()" style="width: 200px;">   
                                                                </input> <label class=" w3-left" style="width: 130px;color: black;font-size: 18px;">ค้นหา ดด/ปปปป</label>        
                                                                <br><br><br>

                                                                <input type="date" id="myInput2" class="form-control fa fa-search w3-left" placeholder="วว/ดด/ปปปป"
                                                                    onchange="myFunction()" style="width: 200px;" >
                                                                </input> <label class=" w3-left" style="width: 154px;color: black;font-size: 18px;">ค้นหา วว/ดด/ปปปป</label>        
                                                                <br><br><br><br>
                                
                                <table class="table table-bordered table-hover" id = "myTable">
                                    <thead align="center">
                                        <tr class="table-active">
                                            <th>ลำดับ</th>
                                            <th>วันที่ทำ OT </th>
                                            <th>เวลาเริ่มทำ OT - สิ้นสุด OT</th>
                                            <th>รวมเวลา ชม./นาที</th>
                                          
                                        </tr>

                                    </thead>

                                    <tbody align="center">
                                        <% if(data){ %>
                                            <% for(var i=0 ; i < data.length;i++){ %>
                                             
                                                <tr>
                                                    <td>
                                                        <%= (i+1) %>
                                                    </td>
                                                    <td hidden>
                                                        <%=data[i].date%>
                                                    </td>        
                                                    <td hidden>
                                                        <%=data[i].mount%> 
                                                    </td>  
                                                    <td>
                                                        <%= data[i].otdo %>
                                                    </td>
                                                    <td>
                                                        <%= data[i].otds %>  -  <%= data[i].otde %> 
                                                    </td>                                                 
                                                    <td>                                                                                                                                  
                                                        <%if(data[i].otds.split(":")[1] < data[i].otde.split(":")[1]){%>
                                                            <%=( ( ( (Number(data[i].otde.split(":")[1]) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                            + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>                                                                      
                                                            
                                                            <%}else if(data[i].otds.split(":")[1] > data[i].otde.split(":")[1]){%>
                                                                <%=( ( ( ((Number(data[i].otde.split(":")[1]) + 24 ) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                                + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>                                                                                                                                                                                                  
                                                                <%}%>
                                                     
                                                    </td>

                                         
                                                </tr>
                                             
                                                <% } %>
                                                <% } %>
                                              
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<br><br>

    <style>
        #yes {
            margin-left: 81.7%;
        }

        #checkmark1 {
            position: absolute;
            margin-top: 0.6%;
            margin-left: 0%;
            height: 15px;
            width: 15px;
            background-color: #eee;
        }

        #checkmark2 {
            position: absolute;
            margin-top: 0.6%;
            margin-left: 15%;
            height: 15px;
            width: 15px;
            background-color: #eee;
        }
        #f1{
            font-weight: normal;
        }
        #myInput1{
            position: absolute;
            margin-left: 12%;
        }
        #myInput2{
            position: relative;
            margin-right: 100%;
        }
        th{
            color: #5a5a5a;
        }
        tr{
            color: #5a5a5a;
        }
    </style>
    <script>
        function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput1");
        input1 = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        filter1 = input1.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[2];
            td1 = tr[i].getElementsByTagName("td")[1];
            if (td && td1) {
                txtValue = td.textContent || td.innerText;
                txtValue1 = td1.textContent || td1.innerText;
                if ((txtValue.toUpperCase().indexOf(filter) > -1) && (txtValue1.toUpperCase().indexOf(filter1) > -1)){
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    </script>
    <%- include ("../../views/_footer") %>