<%- include ("../../views/_header") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                            <form action="/ot/delotcompensateListadminhistorydel/<%= data.ofit %>" method="post">
                                <center>
                                    <h1>ยืนยันการลบข้อมูลชดเชยวันเวลา</h1>
                                </center>
                                <br>
                                <table class = "table  table-bordered table-hover">
                                    <tbody>
                                      <tr >
                                          <td> <h5 id = "name" >  วันที่ทำ  :    <font id="f1">  <%= data.otdo %> </font>    </h5> </td>
                                        </tr>
                                        <tr>
                                          <td> <h5 id = "name" >  เวลาเริ่มทำ OT - สิ้นสุด OT : <font id="f1">  <%= data.otds %>  -  <%= data.otde %> </font> </h5> </td>
                                        </tr>
                                        <tr>
                                          <td> <h5 id = "name" >  รวมเวลา ชม./นาที : <font id="f1">  <%if(data.otds.split(":")[1] < data.otde.split(":")[1]){%>
                                            <%=( ( ( (Number(data.otde.split(":")[1]) - Number(data.otds.split(":")[1]) - Number(data.break_time.split(":")[0]) ) *60 )
                                            + ( Number(data.otde.split(":")[2]) - Number(data.otds.split(":")[2]) - Number(data.break_time.split(":")[1]) ) ) / 60 )  %>                                                                      
                                            
                                            <%}else if(data.otds.split(":")[1] > data.otde.split(":")[1]){%>
                                                <%=( ( ( ((Number(data.otde.split(":")[1]) + 24 ) - Number(data.otds.split(":")[1]) - Number(data.break_time.split(":")[0]) ) *60 )
                                                + ( Number(data.otde.split(":")[2]) - Number(data.otds.split(":")[2]) - Number(data.break_time.split(":")[1]) ) ) / 60 )  %>                                                                                                                                                                                                  
                                                <%}%>
                                            </font>
                                            </h5> </td>
                                        </tr>
                                        
                                          
                                      </tbody>
                                    </table>
                                  <br>
                                    <a href="/otcompensateListadminhistory/<%=data.emid%>" class="btn btn-info" align = "left"> กลับ </a>
                                    <a href="/ot/delotcompensateListadminhistorydelelte/<%= data.ofot %>" class="btn btn-danger" id = "yes"> ยืนยัน</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #yes {
            position: relative;
            left: 75.8%;
        }
        #f1{
            font-weight: normal;
        }

        
    </style>

    <%- include ("../../views/_footer") %>