<%if(session.admin){%>
    <%- include ("../../views/_headeradmin") %>
    <%}else if (session.hr){%>
    <%- include ("../../views/_headerhr") %>
    <%}else if (session.employee){%>
    <%- include ("../../views/_headereemployee") %>
    <%}else if (session.leader){%>
    <%- include ("../../views/_headerleader") %>
    <%}else if (session.leaderinstall || session.leaderma || session.leaderinstallandma){%>
    <%- include ("../../views/_headerleader2") %>
    <%}%>            
        <h1 align="center"> รายการ OT ทั้งหมด </h1>
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:5px">
            <div class="w3-row-padding w3-padding-16 w3-center">                                  
                <div class="w3-rest  w3-container">                           
                    <div style="overflow-x:auto;" align="center">      
                        <table class="table table-bordered table-hover">
                            <thead align="center">
                                <tr class="table-active ">
                                    <th>ลำดับ</th>
                                    <th>ชื่อ-นามสกุล</th>
                                    <th>วันที่ทำ OT </th>
                                    <th>เวลาเริ่มทำ OT - สิ้นสุด OT</th>
                                    <th>รวมเวลา ชม./นาที</th>
                                    <th>หักเวลาพัก ชม./นาที</th>
                                    <th>เวลาคงเหลือ ชม./นาที</th>
                                    <th>รายละเอียดของงานที่ทำนอกเวลา</th>
                                    <th>สถานะ</th>
                                    <th>ตัวเลือก</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                               
                                <% if(data){ %>
                                    <% for(var i=0 ; i < data.length;i++){ %>
                       
                                        <tr>
                                            <td>
                                                <%= (i+1) %>
                                            </td>
                                            <td>
                                                <%= data[i].sex %> <%= data[i].firstname %>
                                                    <%= data[i].lastname %>
                                            </td>
                                            <td>
                                                <%= data[i].otdo %>
                                            </td>
                                            <td>
                                                <%= data[i].otds %>  -  <%= data[i].otde %> 
                                            </td>
                                            <td>
                                                <%if(data[i].otds.split(":")[1] < data[i].otde.split(":")[1]){%>
                                                    <%=( ( ( (Number(data[i].otde.split(":")[1]) - Number(data[i].otds.split(":")[1])) *60 )
                                                    + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>     
                                                    <%}else if(data[i].otds.split(":")[1] > data[i].otde.split(":")[1]){%>
                                                        <%=( ( ( ((Number(data[i].otde.split(":")[1]) + 24 ) - Number(data[i].otds.split(":")[1])  ) *60 )
                                                        + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>     
                                                        <%}%>
                                                       
                                            </td>                                            
                                            <td>
                                                <%=data[i].break_time[1]%> 
                                            </td>    
                                            <td>
                                                <%if(data[i].otds.split(":")[1] < data[i].otde.split(":")[1]){%>
                                                    <%=( ( ( (Number(data[i].otde.split(":")[1]) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                    + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>     
                                                    <%}else if(data[i].otds.split(":")[1] > data[i].otde.split(":")[1]){%>
                                                        <%=( ( ( ((Number(data[i].otde.split(":")[1]) + 24 ) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                        + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>     
                                                        <%}%>
                                            </td>
                                            <td>
                                                <%= data[i].detail %> 
                                            </td>
                                            <td>
                                                <%if(data[i].status == 0 ){%> 
                                                    <font color="red"> รออนุมัติ </font>
                                                    <%}else if(data[i].status == 1){%>
                                                    <font color="green"> อนุมัติ </font>
                                                    <%}else if(data[i].status == 2){%>
                                                        <font color="red"> ไม่อนุมัติ </font>
                                                        <%}else if (data[i].status == 3){%> 
                                                            <font color="green"> อนุมัติและงานเสร็จ </font>
                                                            <%}else {%>
                                                                <font color = "red">ไม่ทราบสถานะ</font>
                                                            <%}%> 
                                            </td>                                         
                                            <td>                                                                                                                                     
                                                 <form action="/ot/approval/<%= data[i].otid %>" method="post">
                                                    <button type="submit" class="btn btn-success" style="width: 96px;"> อนุมัติ </button >
                                                  </form>
                                                  <br>
                                                  <form action="/ot/disapproval/<%= data[i].otid %>" method="post">
                                                    <button type="submit" class="btn btn-danger" style="width: 96px;"> ไม่อนุมัติ </button>
                                                  </form>
                                                 <br>
                                                 <form action="">
                                                <a href="/ot/edit/<%= data[i].otid %>" class="btn btn-info" style="width: 96px;"> แก้ไข</a>
                                            </form>
                                            <br>
                                                <a href="/ot/del/<%= data[i].otid %>" class="btn btn-danger" style="width: 96px;"> ลบ</a>                                                                                       
                                            </td>
                                        </tr>                                   
                                            <% } %>
                                            <% }%> 
                            </tbody>
                        </table>
                </div>    
            </div>
        </div>
        </div>
        <style>
         th{
            color: #5a5a5a;
         }
         tr{
            color: #5a5a5a;
         }
        </style>
    
        <%- include ("../../views/_footer") %>