<%if(session.admin){%>
    <%- include ("../../views/_headeradmin") %>
        <%}else if (session.hr){%>
            <%- include ("../../views/_headerhr") %>
                <%}else if (session.employee){%>
                    <%- include ("../../views/_headereemployee") %>
                        <%}else if (session.leader){%>
                            <%- include ("../../views/_headerleader") %>
                                <%}else if (session.leaderinstall || session.leaderma || session.leaderinstallandma){%>
                                    <%- include ("../../views/_headerleader2") %>
                                        <%}else{%>
                                            <%- include ("../../views/_headerleader") %>
                                                <%}%>
                                                <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:5px">
                                                    <div class="w3-row-padding w3-padding-16 w3-center">                                  
                                                        <div class="w3-rest  w3-container">
                <h1 align = "center">ประวัติค่า OT</h1>
                <br>
                <h4><font style="font-weight: bold;"> ชื่อ-นามสกุล : </font><font id="f1"> <%=data[0].sex%> <%=data[0].firstname%> <%=data[0].lastname%> </font><font style="font-weight: bold;"> ฝ่าย : </font><font id="f1">  <%=data[0].department%> </font></h4>
                <br>
                                                                <input type="month" id="myInput1" class="form-control fa fa-search w3-left"  placeholder="ดด/ปปปป"
                                                                    onchange="myFunction()" style="width: 200px;">   
                                                                </input> <label class=" w3-left" style="width: 130px;color: black;font-size: 18px;">ค้นหา ดด/ปปปป</label>        
                                                                <br><br><br>

                                                                <input type="date" id="myInput2" class="form-control fa fa-search w3-left" placeholder="วว/ดด/ปปปป"
                                                                    onchange="myFunction()" style="width: 200px;" >
                                                                </input> <label class=" w3-left" style="width: 154px;color: black;font-size: 18px;">ค้นหา วว/ดด/ปปปป</label>        
                                                                <br><br><br><br>
                <div style="overflow-x:auto;" align="center">
                <table class="table table-bordered table-hover" id = "myTable">
                        <thead align="center">
                            <tr class="table-active ">
                                <th>ลำดับ</th>                              
                                <th>วันที่ทำ OT </th>
                                <th>เวลาเริ่มทำ OT - สิ้นสุด OT</th>
                                <th>รวมเวลา ชม./นาที</th>
                                <th>วันปกติ</th>
                                <th>วันหยุด</th>
                                <th>รายละเอียดของงานที่ทำนอกเวลา</th>                            
                            </tr>
                        </thead>
                        <tbody align="center">
                            <% if(data){ %>
                                <% for(var i=0 ; i < data.length;i++){ %>                                 
                                    <tr>
                                        <td>
                                            <%= (i+1) %>
                                        </td>  
                                        <td hidden>
                                            <%=data[i].date%>
                                        </td>        
                                        <td hidden>
                                            <%=data[i].mount%> 
                                        </td>            
                                        <td>
                                            <%= data[i].otdo %>
                                        </td>
                                        <td>
                                            <%= data[i].otds %>  -  <%= data[i].otde %> 
                                        </td>                                      
                                        <td>
                                            <%if(data[i].otds.split(":")[1] < data[i].otde.split(":")[1]){%>
                                                <%=( ( ( (Number(data[i].otde.split(":")[1]) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>     
                                                <%}else if(data[i].otds.split(":")[1] > data[i].otde.split(":")[1]){%>
                                                    <%=( ( ( ((Number(data[i].otde.split(":")[1]) + 24 ) - Number(data[i].otds.split(":")[1]) - Number(data[i].break_time.split(":")[0]) ) *60 )
                                                    + ( Number(data[i].otde.split(":")[2]) - Number(data[i].otds.split(":")[2]) - Number(data[i].break_time.split(":")[1]) ) ) / 60 )  %>     
                                                    <%}%>                                                  
                                        </td>                                                                                                             
                                         <td>
                                             <%if(data[i].otdo.split(" ")[0] == "Monday" || data[i].otdo.split(" ")[0] == "Tuesday" || data[i].otdo.split(" ")[0] == "Wednesday" || data[i].otdo.split(" ")[0] == "Thursday" || data[i].otdo.split(" ")[0] == "Friday"|| data[i].otdo.split(" ")[0] == "Saturday"){%>
                                                 <font color = "green"> ✓</font>
                                                 <%}else{%>
                                                     -
                                                 <%}%>
                                         </td>
                                         <td>
                                             <%if(data[i].otdo.split(" ")[0] == "Sunday"){%>
                                                 <font color = "green"> ✓</font>
                                                 <%}else{%>
                                                     -
                                                 <%}%>
                                         </td>
                                         <td>
                                            <%= data[i].detail %> 
                                        </td>                                       
                                        </tr>                                  
                                        <% } %>
                                        <% } %>
                        </tbody>
                    </table>
            </div>

        </div>
    </div>
    </div>
    <style>
        #f1{
            font-weight: normal;
        }
        th{
            color: #5a5a5a;
        }
        tr{
            color: #5a5a5a;
        }
    </style>
<script>
    function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput1");
    input1 = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    filter1 = input1.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[2];
        td1 = tr[i].getElementsByTagName("td")[1];
        if (td && td1) {
            txtValue = td.textContent || td.innerText;
            txtValue1 = td1.textContent || td1.innerText;
            if ((txtValue.toUpperCase().indexOf(filter) > -1) && (txtValue1.toUpperCase().indexOf(filter1) > -1)){
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
    <%- include ("../../views/_footer") %>