<%if(session.admin){%>
    <%- include ("../views/_headeradmin") %>
        <%}else if (session.hr){%>
            <%- include ("../views/_headerhr") %>
                <%}else if (session.employee){%>
                    <%- include ("../views/_headereemployee") %>
                        <%}else if (session.leader){%>
                            <%- include ("../views/_headerleader") %>
                                <%}else if (session.leaderinstall || session.leaderma || session.leaderinstallandma){%>
                                    <%- include ("../views/_headerleader2") %>
                                        <%}else{%>
                                            <%- include ("../views/_headerleader") %>
                                                <%}%>
                                           
            <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:40px">
            <div class="w3-row-padding w3-padding-16 w3-center " >
                <%if(session.admin){%>
                    <div class="w3-half w3-container">
                    <a href="/listhistory_noadmin" id="iconls"> <img border="0" alt="W3Schools"src="history.png" style="width:55%"></a><br>
                    <a href="/listhistory_noadmin" id="idls" <font color="#566573" style="font-size: 195%;">ประวัติรายการ OT ที่ถูกยกเลิก</font></a>
                    </div>
                    <div class="w3-half w3-container">
                            <a href="/listhistory_yesadmin" id="iconin"> <img border="0" alt="W3Schools"src="history.png" style="width:55%"></a><br>
                            <a href="/listhistory_yesadmin" id="idin"><font color="#566573" style="font-size: 195%;">ประวัติรายการ OT ที่สำเร็จ</font></a>
                        </div>
                            <%}else if(session.employee){%>
                            <div class="w3-half w3-container">
                                    <a href="/listhistory_no/<%= session.employeeid %>" id="iconls"> <img border="0" alt="W3Schools"src="history.png" style="width:55%"></a><br>
                                    <a href="/listhistory_no/<%= session.employeeid %> id="idls"><font color="#566573" style="font-size: 195%;">ประวัติรายการ OT ที่ถูกยกเลิก</font></a>
                                </div>
                            <div class="w3-half w3-container">
                                    <a href="/listhistory_yes/<%= session.employeeid %>" id="iconin"> <img border="0" alt="W3Schools"src="history.png" style="width:55%"></a><br>
                                    <a href="/listhistory_yes/<%= session.employeeid %>" id="idin"><font color="#566573" style="font-size: 195%;">ประวัติรายการ OT ที่สำเร็จ</font></a>
                                </div>      
                                <%}else if(session.leaderinstallandma){%>
                                    <div class="w3-half w3-container">
                                            <a href="/ot/History_noleaderInstallAndMA" id="iconls"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                            <a href="/ot/History_noleaderInstallAndMA" id="idls"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่ถูกยกเลิก</font></a>
                                        </div>
                                        <div class="w3-half w3-container">
                                            <a href="/ot/History_yesleaderInstallAndMA" id="iconin"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                            <a href="/ot/History_yesleaderInstallAndMA" id="idin"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่สำเร็จ</font></a>
                                        </div>           
                                            <%}else if(session.leaderinstall){%>
                                                <div class="w3-half w3-container">
                                                        <a href="/ot/History_noleaderinstall" id="iconls"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                        <a href="/ot/History_noleaderinstall" id="idls"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่ถูกยกเลิก</font></a>
                                                    </div>
                                                    <div class="w3-half w3-container">
                                                        <a href="/ot/History_yesleaderinstall" id="iconin"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                        <a href="/ot/History_yesleaderinstall" id="idin"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่สำเร็จ</font></a>
                                                    </div>      
                                                        <%}else if(session.leaderma){%>
                                                            <div class="w3-half w3-container">
                                                                    <a href="/ot/History_noleaderleaderMa" id="iconls"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                                    <a href="/ot/History_noleaderleaderMa" id="idls"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่ถูกยกเลิก</font></a>
                                                                </div> 
                                                                <div class="w3-half w3-container">
                                                                    <a href="/ot/History_yesleaderleaderMa" id="iconin"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                                    <a href="/ot/History_yesleaderleaderMa" id="idin"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่สำเร็จ</font></a>
                                                                </div> 
                                                                    <%}else if(session.leader){%>
                                                                        <div class="w3-half w3-container">
                                                                                <a href="/ot/History_noleader/<%= session.department %>" id="iconls"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                                                <a href="/ot/History_noleader/<%= session.department %>" id="idls"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่ถูกยกเลิก</font></a>
                                                                            </div> 
                                                                            <div class="w3-half w3-container">
                                                                                <a href="/ot/History_yesleader/<%= session.department %>" id="iconin"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                                                <a href="/ot/History_yesleader/<%= session.department %>" id="idin"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่สำเร็จ</font></a>
                                                                            </div>        
                                                                                <%}else if(session.hr){%>
                                                                                    <div class="w3-half w3-container">
                                                                                            <a href="/listhistory_no/<%= session.hrid %>" id="iconls"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                                                            <a href="/listhistory_no/<%= session.hrid %>" id="idls"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่ถูกยกเลิก</font></a>
                                                                                        </div> 
                                                                                        <div class="w3-half w3-container">
                                                                                            <a href="/listhistory_yes/<%= session.hrid %>" id="iconin"> <img border="0"alt="W3Schools" src="history.png" style="width:55%"></a><br>
                                                                                            <a href="/listhistory_yes/<%= session.hrid %>" id="idin"><font color="#566573" style="font-size: 195%;"> ประวัติรายการ OT ที่สำเร็จ</font></a>
                                                                                        </div>        
                                                                                            <%}%>
                </div>
            </div>
            
          <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:40px">
            <div class="w3-row-padding w3-padding-16 w3-center " >
                <%if(session.admin){%> 
                    <div class="w3-half w3-container">
                            <a href="/ot/ottimeListAdmin" id="iconhist"> <img border="0" alt="W3Schools"src="save-money.png" style="width:55%"></a><br>
                            <a href="/ot/ottimeListAdmin" id="idtime"><font color="#566573" style="font-size: 195%;"> ประวัติค่า OT </font></a>
                        </div>
                        <div class="w3-half w3-container">
                            <a href="/ot/otcompensateListadmin" id="iconclist"> <img border="0" alt="W3Schools"src="calendar.png" style="width:55%"></a><br>
                            <a href="/ot/otcompensateListadmin" id="idcom"><font color="#566573" style="font-size: 195%;"> ประวัติรายการเวลาชดเชย</font></a>
                        </div>
                            <%}else if(session.employee){%>
                                <div class="w3-half w3-container">
                                        <a href="/ot/ottimeList/<%= session.employeeid %>" id="iconhist"> <img border="0" alt="W3Schools"src="save-money.png" style="width:55%"></a><br>
                                        <a href="/ot/ottimeList/<%= session.employeeid %>" id="idtime"><font color="#566573" style="font-size: 195%;"> ประวัติค่า OT</font></a>
                                    </div> 
                                    <div class="w3-half w3-container">
                                        <a href="/ot/otcompensateList/<%= session.employeeid %>" id="iconclist"> <img border="0"alt="W3Schools" src="calendar.png" style="width:55%"></a><br>
                                        <a href="/ot/otcompensateList/<%= session.employeeid %>" id="idcom"><font color="#566573" style="font-size: 195%;"> ประวัติรายการเวลาชดเชย</font></a>
                                    </div>
                                        <%}else if(session.leaderinstallandma){%>
                                            <div class="w3-half w3-container">
                                                <a href="/ot/timeListleaderInstallAndMA" id="iconhist"> <img border="0"alt="W3Schools" src="save-money.png" style="width:55%"></a><br>
                                                <a href="/ot/timeListleaderInstallAndMA" id="idtime"><font color="#566573" style="font-size: 195%;"> ประวัติค่า OT</font></a>
                                            </div>
                                            <div class="w3-half w3-container">
                                                <a href="/ot/otcompensateListInstallAndMA" id="iconclist"> <img border="0" alt="W3Schools" src="calendar.png" style="width:55%"></a><br>
                                                <a href="/ot/otcompensateListInstallAndMA" id="idcom"><font color="#566573" style="font-size: 195%;"> ประวัติรายการเวลาชดเชย</font></a>    
                                            </div>
                                                <%}else if(session.leaderinstall){%>
                                                    <div class="w3-half w3-container">
                                                        <a href="/ot/timeListleaderinstall" id="iconhist"> <img border="0"alt="W3Schools" src="save-money.png" style="width:55%"></a><br>
                                                        <a href="/ot/timeListleaderinstall" id="idtime"><font color="#566573" style="font-size: 195%;"> ประวัติค่า OT</font></a>
                                                    </div>
                                                    <div class="w3-half w3-container">
                                                        <a href="/ot/otcompensateListleaderinstall" id="iconclist"> <img border="0" alt="W3Schools" src="calendar.png" style="width:55%"></a><br>
                                                        <a href="/ot/otcompensateListleaderinstall" id="idcom"><font color="#566573" style="font-size: 195%;"> ประวัติรายการเวลาชดเชย</font></a>    
                                                    </div>
                                                    <%}else if(session.leaderma){%>
                                                        <div class="w3-half w3-container">
                                                            <a href="/ot/timeListleaderMa" id="iconhist"> <img border="0"alt="W3Schools" src="save-money.png" style="width:55%"></a><br>
                                                            <a href="/ot/timeListleaderMa"id="idin"><font color="#566573" style="font-size: 195%;">ประวัติค่า OT</font></a>
                                                        </div>
                                                        <div class="w3-half w3-container">
                                                            <a href="/ot/otcompensateListleaderMa" id="iconclist"> <img border="0"alt="W3Schools" src="calendar.png" style="width:55%"></a><br>
                                                            <a href="/ot/otcompensateListleaderMa" id="idtime"><font color="#566573" style="font-size: 195%;">ประวัติรายการเวลาชดเชย</font></a>    
                                                        </div>                                                
                                                            <%}else if(session.leader){%>
                                                                <div class="w3-half w3-container">
                                                                    <a href="/ot/timeListleader/<%= session.department %>" id="iconhist"> <img border="0"alt="W3Schools" src="save-money.png" style="width:55%"></a><br>
                                                                    <a href="/ot/timeListleader/<%= session.department %>" id="idtime"><font color="#566573" style="font-size: 195%;" >ประวัติค่า OT</font></a>
                                                                </div>
                                                                <div class="w3-half w3-container">
                                                                    <a href="/ot/otcompensateListleader/<%= session.department %>" id="iconclist"> <img border="0" alt="W3Schools" src="calendar.png" style="width:55%"></a><br>
                                                                    <a href="/ot/otcompensateListleader/<%= session.department %>" id="idcom"><font color="#566573" style="font-size: 195%;">ประวัติรายการเวลาชดเชย</font></a>
                                                                </div>
                                                                <%}else if(session.hr){%>
                                                                    <div class="w3-half w3-container"></div>
                                                                        <a href="/ot/ottimeList/<%= session.hrid %>" id="iconhist"> <img border="0" alt="W3Schools" src="save-money.png" style="width:57%"></a><br>
                                                                        <a href="/ot/ottimeList/<%= session.hrid %>" id="idtime"><font color="#566573" style="font-size: 195%;">ประวัติค่า OT</font></a>
                                                                    </div>
                                                                    <div class="w3-half w3-container">
                                                                        <a href="/ot/otcompensateList/<%= session.hrid %>" id="iconclist"> <img border="0" alt="W3Schools" src="calendar.png" style="width:57%"></a><br>
                                                                        <a href="/ot/otcompensateList/<%= session.hrid %>" id="idcom"><font color="#566573" style="font-size: 195%;">ประวัติรายการเวลาชดเชย</font></a>
                                                                    </div>
                                                                    <%}%>
                                                      
                                                                                
            </div>
        </div>

<style>
#idls {
    color:#566573;
    }
</style>
 
    <%- include ("../views/_footer") %>