<%if(session.admin){%>
    <%- include ("../views/_headeradmin") %>
        <%}else if (session.hr){%>
            <%- include ("../views/_headerhr") %>
                <%}else if (session.employee){%>
                    <%- include ("../views/_headereemployee") %>
                        <%}else if (session.leader){%>
                            <%- include ("../views/_headerleader") %>
                                <%}else if (session.leaderinstall || session.leaderma || session.leaderinstallandma){%>
                                    <%- include ("../views/_headerleader2") %>
                                        <%}else{%>
                                            <%- include ("../views/_headerleader") %>
                                                <%}%>
                                                <div class="w3-main w3-content w3-padding" style="max-width:1980px;margin-top:10%">
                                                    <div class="w3-row-padding-4 w3-padding-16 w3-center">
                                                
                                                
                                                            <%if(session.admin){%>
                                                                <div class="w3-third w3-container">
                                                                <a href="/otlistadmin" id="iconls"> <img border="0"alt="W3Schools" src="check-list.png"style="width:55%" ></a><br>
                                                                <a href="/otlistadmin" id="idls"><font color="#566573" style="font-size: 200%;">รายการ OT ที่รอยืนยัน </font></a>
                                                            </div>
                                                            <div class="w3-third w3-container">
                                                                <a href="/otlistlastadmin" id="iconin"> <img border="0"alt="W3Schools" src="check-list.png"style="width:55%"></a><br>
                                                                <a href="/otlistlastadmin" id="idin"><font color="#566573" style="font-size: 200%;">ยืนยันรายการครั้งสุดท้าย</font></a>
                                                            </div>
                                                            <div class="w3-third w3-container">
                                                                <a href="/ot/offot_listAdmin" id="iconot"> <img border="0" alt="W3Schools" src="overtime.png"style="width:55%"></a><br>
                                                                <a href="/ot/offot_listAdmin" id="fot"><font color="#566573" style="font-size: 200%;">ยืนยันรายการชดเชยหรือ OT</font></a>
                                                            </div>
                                                                <%}else if(session.employee){%>
                                                                    <div class="w3-third w3-container">
                                                                    <a href="/otlist/<%=session.employeeid%>"id="iconls"> <img border="0" alt="W3Schools"src="check-list.png" style="width:55%"></a><br>
                                                                    <a href="/otlist/<%=session.employeeid%>" id="idls"><font color="#566573" style="font-size: 200%;">รายการ OT ที่รอยืนยัน</font></a>
                                                                </div>
                                                                <div class="w3-third w3-container">
                                                                    <a href="/otlistlast/<%=session.employeeid%>"id="iconin"> <img border="0" alt="W3Schools"src="check-list.png" style="width:55%"></a><br>
                                                                    <a href="/otlistlast/<%=session.employeeid%>"id="idin"><font color="#566573" style="font-size: 200%;">ยืนยันรายการครั้งสุดท้าย</font></a>
                                                                </div>
                                                                <div class="w3-third w3-container">
                                                                    <a href="/ot/offset_time_ot_list/<%=session.employeeid%>"id="iconot"> <img border="0" alt="W3Schools"src="overtime.png" style="width:55%"></a><br>
                                                                    <a href="/ot/offset_time_ot_list/<%=session.adminid%>"id="fot"><font color="#566573" style="font-size: 200%;">ยืนยันรายการชดเชยหรือ OT</font></a>
                                                                </div>
                                                                    <%}else if(session.leaderinstallandma){%>

                                                                        <a href="/otlistleaderinstallandMa"id="iconls"> <img border="0" alt="W3Schools"src="check-list.png"style="width:55%"></a><br>
                                                                        <a href="/otlistleaderinstallandMa"id="idls"><font color="#566573" style="font-size: 200%;">รายการ OT ที่รอยืนยัน</font></a>    

                                                                        <%}else if(session.leaderinstall){%>
                                                                            <a href="/otlistleaderinstall"id="iconls"> <img border="0"alt="W3Schools" src="check-list.png"style="width:55%"></a><br>                                                     
                                                                            <a href="/otlistleaderinstall"id="idls"><font color="#566573" style="font-size: 200%;">รายการ OTที่รอยืนยัน </font></a>

                                                                            <%}else if(session.leaderma){%>
                                                                                <a href="/otlistleaderMa"id="iconls"> <img border="0"alt="W3Schools"src="check-list.png"style="width:55%"></a><br>                                   
                                                                                <a href="/otlistleaderMa"id="idls"><font color="#566573" style="font-size: 200%;">รายการ OTที่รอยืนยัน </font></a>

                                                                                <%}else if(session.leader){%>
                                                                                    <a href="/otlistleaderl/<%=session.department%>"id="iconls"> <img border="0"alt="W3Schools"src="check-list.png"style="width:55%"></a><br>                                                                     
                                                                                    <a href="/otlistleaderl/<%=session.department%>"id="idls"><font color="#566573" style="font-size: 200%;">รายการ OTที่รอยืนยัน </font></a>
                                                                                    
                                                                                    <%}else if(session.hr){%>
                                                                                        <a href="/otlist/<%=session.hrid%>"id="iconls"> <img border="0"alt="W3Schools"src="check-list.png"style="width:55%"></a><br>
                                                                                        <a href="/otlist/<%=session.hrid%>"id="idls"><font color="#566573" style="font-size: 200%;">รายการOT ที่รอยืนยัน </font></a>

                                                                                        <a href="/otlistlast/<%=session.hrid%>"id="iconin"> <img border="0"alt="W3Schools"src="check-list.png"style="width:55%"></a><br>
                                                                                        <a href="/otlistlast/<%=session.hrid%>"id="idin"><font color="#566573" style="font-size: 200%;">ยืนยันรายการครั้งสุดท้าย</font></a>
                                                                                        
                                                                                        <a href="/ot/offset_time_ot_list/<%=session.hrid%>"id="iconot"> <img border="0"alt="W3Schools"src="overtime.png"style="width:55%"></a><br>
                                                                                        <a href="/ot/offset_time_ot_list/<%=session.adminid%>"id="fot"><font color="#566573" style="font-size: 200%;">ยืนยันรายการชดเชยหรือ OT</font></a>
                                                                                        <%}%>
                                                                                   
                                                                                </div>
                                                                            </div>
                                                   
                                                  
                                                    <%- include ("../views/_footer") %>