<%- include ("../../views/_headeradmin") %>
    <div class="w3-main w3-content w3-padding" style="max-width:1480px;margin-top:5px">
        <div class="w3-row-padding w3-center ">
            <div class="w3-rest w3-container">
                <div class="continer" align="center" id="form1">
                    <h1> ประวัติการประเมิน </h1>
                    <h4>
                        <font style="font-weight: bold;"> ชื่อ-นามสกุล : </font>
                        <font id="f1">
                            <%=data[0].sex%>
                                <%=data[0].firstname%>
                                    <%=data[0].lastname%>
                        </font>
                        <font style="font-weight: bold;"> ฝ่าย :</font>
                        <font id="f1">
                            <%=data[0].department%>
                        </font>
                    </h4>

                    <a href="/employeelist" class="btn btn-info w3-left" id="back" style="margin-right : 48.9%;"> กลับ </a>
                    <a class="btn btn-success w3-right" id="yes"> หน้าต่อไป </a>
                    <br><br>
                    <div style="overflow-x:auto;">

                        <table class="table table-bordered table-hover">
                            <thead align="center">

                                <tr class="table-active ">
                                    <th>ลำดับ</th>
                                    <th>1.1</th>
                                    <th>1.2</th>
                                    <th>1.3</th>
                                    <th>1.4</th>
                                    <th>1.5</th>
                                    <th>1.6</th>
                                    <th>1.7</th>
                                    <th>1.8</th>
                                    <th>1.9</th>
                                    <th>1.10</th>
                                    <th>1.11</th>
                                    <th>1.12</th>
                                    <th>1.13</th>
                                    <th>2.1</th>
                                    <th>2.2</th>
                                    <th>2.3</th>
                                    <th>2.4</th>
                                    <th>2.5</th>
                                    <th>3.1</th>
                                    <th>3.2</th>
                                    <th>ผลรวม</th>
                                    <th>วัน/เดือน/ปี</th>
                                    <th>ตัวเลือก</th>
                                </tr>
                            </thead>
                            <tbody align="center">
                                <% if(data){ %>
                                    <% for(var i=0 ; i < data.length;i++){ %>
                                        <tr>
                                            <td>
                                                <%= (i+1) %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[0] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[1] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[2] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[3] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[4] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[5] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[6] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[7] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[8] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[9] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[10] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[11] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[12] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[13] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[14] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[15] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[16] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[17] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[18] %>
                                            </td>
                                            <td>
                                                <%= data[i].assessmentscore.split(",")[19] %>
                                            </td>
                                            <td>
                                                <%= Number(data[i].assessmentscore.split(",")[0]) +
                                                    Number(data[i].assessmentscore.split(",")[1]) +
                                                    Number(data[i].assessmentscore.split(",")[2]) +
                                                    Number(data[i].assessmentscore.split(",")[3]) +
                                                    Number(data[i].assessmentscore.split(",")[4]) +
                                                    Number(data[i].assessmentscore.split(",")[5]) +
                                                    Number(data[i].assessmentscore.split(",")[6]) +
                                                    Number(data[i].assessmentscore.split(",")[7]) +
                                                    Number(data[i].assessmentscore.split(",")[8]) +
                                                    Number(data[i].assessmentscore.split(",")[9]) +
                                                    Number(data[i].assessmentscore.split(",")[10]) +
                                                    Number(data[i].assessmentscore.split(",")[11]) +
                                                    Number(data[i].assessmentscore.split(",")[12]) +
                                                    Number(data[i].assessmentscore.split(",")[13]) +
                                                    Number(data[i].assessmentscore.split(",")[14]) +
                                                    Number(data[i].assessmentscore.split(",")[15]) +
                                                    Number(data[i].assessmentscore.split(",")[16]) +
                                                    Number(data[i].assessmentscore.split(",")[17]) +
                                                    Number(data[i].assessmentscore.split(",")[18]) +
                                                    Number(data[i].assessmentscore.split(",")[19]) %>

                                            </td>
                                            <td>
                                                <%= data[i].wdt %>
                                            </td>
                                            <td>
                                                <a href="/employee/edit/<%= data[i].wid %>" class="btn btn-info">
                                                    แก้ไข</a>
                                                <br><br>
                                                <a href="/employeeadmin/del/<%= data[i].wid %>" class="btn btn-danger"
                                                    style="width: 60px;">
                                                    ลบ</a>
                                            </td>
                                        </tr>
                                        <% } %>
                                            <% } %>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
 
                <div class="w3-rest w3-container">
                    <div class="continer" align="center" id="form2">
                        <h1> ประวัติรายชื่อที่ถูกนำเสนอ </h1>
                        <h4>
                            <font style="font-weight: bold;"> ชื่อ-นามสกุล : </font>
                            <font id="f1">
                                <%=data[0].sex%>
                                    <%=data[0].firstname%>
                                        <%=data[0].lastname%>
                            </font>
                            <font style="font-weight: bold;"> ฝ่าย :</font>
                            <font id="f1">
                                <%=data[0].department%>
                            </font>
                        </h4>
                        <a class="btn btn-info w3-left" id="back2" style="margin-right : 60%;"> กลับ </a><br><br>
                        <div style="overflow-x:auto;">
                            <table class="table table-bordered table-hover">                             
                                <thead align="center">
                                    <tr class="table-active ">
                                        <th>ลำดับ</th>
                                        <th>ข้อ 1</th>
                                        <th>ข้อ 2</th>
                                        <th>ข้อ 3</th>
                                        <th>ข้อ 4</th>
                                        <th>ข้อ 5</th>
                                        <th>ข้อ 6</th>
                                        <th>ข้อ 7</th>
                                        <th>ข้อ 8</th>
                                        <th>ข้อ 9</th>
                                        <th>ข้อ 10</th>
                                        <th>ข้อ 11</th>
                                        <th>ข้อ 12</th>
                                        <th>ข้อ 13</th>
                                        <th>ข้อ 14</th>
                                        <th>ข้อ 15</th>
                                        <th>ตัวเลือก</th>

                                    </tr>
                                </thead>
                                <tbody align="center">
                                    <% if(data2){ %>
                                        <% for(var i=0 ; i < data2.length;i++){ %>
                                            <tr>
                                                <td>
                                                    <%= (i+1) %>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[0] %>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[1]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[2]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[3]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[4]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[5]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[6]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[7]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[8]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[9]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[10]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[11]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[12]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[13]%>
                                                </td>
                                                <td>
                                                    <%= data2[i].name.split(",")[14]%>
                                                </td>
                                                <td>
                                                    <a href="/evaluatecolleaguesrecord/edit/<%= data2[i].evid %>"
                                                        class="btn btn-info"> แก้ไข</a>
                                                </td>
                                            </tr>
                                            <% } %>
                                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        th {
            color: #5a5a5a;
        }

        tr {
            color: #5a5a5a;
        }

        div {
            color: #5a5a5a;
        }

    </style>
    <script>
        $(document).ready(function () {
            $("#form2").hide()
        });
        $("#yes").click(function () {
            $("#form1").hide();
            $("#form2").show();
        })
        $("#back2").click(function () {
            $("#form2").hide();
            $("#form1").show();
        })
    </script>


    <%- include ("../../views/_footer") %>