<%- include ("../../views/_header") %>
    <br>
    <form action="/employee/save" method="post">
      <div class="w3-main w3-content w3-padding" style="max-width:1000px;margin-top:5px" id="form1">
        <div class="w3-row-padding w3-padding-16">
          <h1 id="h1id" align="center"> แบบประเมินผลการปฏิบัติงานของพนักงาน </h1>
          <h5 align="center">
            <font style="font-weight: bold;">ผู้ถูกประเมิน :</font>
            <font id="f1">
              <%= data[0].firstname %>
                <%= data[0].lastname %>
            </font>
            <font style="font-weight: bold;"> ชื่อเล่น </font> : <font id="f1">
              <%= data[0].nickname%>
          </h5>
          <div class="w3-rest">
            <div style="overflow-x:auto;" align="center">
              <table class="table table-bordered table-hover">
                <thead align="center">
                  <tr class="table-active ">
                    <th style="width: 500px;">
                      ปัจจัยที่ประเมิน
                    </th>
                    <th>
                      5
                    </th>
                    <th>
                      4
                    </th>
                    <th>
                      3
                    </th>
                    <th>
                      2
                    </th>
                    <th>
                      1
                    </th>
                  </tr>
                  <tr class="table-active ">
  
                    <th>1. ความรู้เกี่ยวกับงาน</th>
                    <th style="width: 65px;">ดีเลิศ</th>
                    <th style="width: 65px;">ดีมาก</th>
                    <th style="width: 65px;">ดี</th>
                    <th style="width: 65px;">พอใช้</th>
                    <th style="width: 65px;">ปรับปรุง</th>
  
                  </tr>
                </thead>
  
                <tbody>
                  <input type="text" name="employee_id" id="" class="w3-check" style="width: 18px;"
                    value="<%= data[0].emid %>" hidden>
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.1 คุณภาพงาน - ความถูกต้องของงาน/ความละเอียดของงาน และสำเร็จตรงต่อเวลา
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.1" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
  
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.2 ความสามารถใรการผลิตงาน - ปริมาณงานที่ทำได้สำเร็จเหมาะสม
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.2" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.3 มีความเข้าใจในหน้าที่และงานที่เกี่ยวข้องและมีความรับผิดชอบในงาน
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.3" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.4 ความรู้ความชำนาญในงานและสาใารถเรียนรู้สิ่งใหม่ๆที่เกี่ยวกับงาน
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.4" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.5 การปรับปรุงพัฒนางาน - มีความสามารถปรับปรุงพัฒนางานได้อย่างมีประสิทธิภาพ
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.5" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.6 ความคิดริเริ่ม - สามารถเริ่มงานต่างๆ ด้วยตนเองและมีประสิทธิภาพ
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.6" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.7 งานที่ได้รับมอบหมาย - เมื่อได้รับแล้วนำไปปฏิบัติมีความน่าเชื่อถือ
                        และไว้วางใจได้มีความถูกต้องแม่นยำ
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.7" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.8 การทำงานร่วมกับผู้อื่น - สามารถติดต่อสื่อสารกับบุคคลอื่นได้อย่างมีประสิทธิภาพ
                        และมีการร่วมกันทำงานเป็นทีม
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.8" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.9 การวางแผนงาน - มีการกำหมดเป้าหมายแผนงานเป็นขั้นตอนที่เหมาะสม
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.9" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.10 การตรงต่อเวลา - มีการใช้เวลาในการทำงานที่เหมาะสม รักษาเวลาในการทำงาน
                        และอุทิศเวลาให้กับงาน
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.10" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.11 ความไม่ท้อถอยในงาน - มีความุ่งมั่นในการทำงานไม่ย่อท้อต่ออุปสรรค
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.11" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.12 การตัดสินใจ - ตัดสินใจอย่างรอบคอบ มันการณ์ถูกต้อง
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.12" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <div class="w3-container">
                        1.13ความสามารถเป็นผู้นำ - ทำให้ผู้ร่วมงานศรัทธาและเต็มใจทำงานด้วย
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="1.13" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
  
                  <tr class="table-active " align="center">
  
                    <th>2. ความประพฤติส่วนตัว/ทัศคติ</th>
                    <th>ดีเลิศ</th>
                    <th>ดีมาก</th>
                    <th>ดี</th>
                    <th>พอใช้</th>
                    <th>ปรับปรุง</th>
  
                  </tr>
                  <tr>
                    <td>
                      <div class="w3-container">
                        2.1 ความเสียสละ/ทุ่มเท
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="2.1" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="w3-container">
                        2.2 ความสามารถในการปรับตัวให้เข้ากับเพื่อนร่วมงาน/ผู้อื่น
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="2.2" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="w3-container">
                        2.3 ความสามารถในการยอมรับการวิพากษ์วิจารณ์
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="2.3" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="w3-container">
                        2.4 ความซื่อสัตย์ต่อองค์กร
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="2.4" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="w3-container">
                        2.5 การมีส่วนร่วมต่อกิจกรรมขององค์กร และความมีน้ำใจต่อเพื่อนในองค์กร
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="2.5" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
                  <tr class="table-active " align="center">
  
                    <th>3. การปฏิบัติตามกฏระเบียบของบริษัท</th>
                    <th>ดีเลิศ</th>
                    <th>ดีมาก</th>
                    <th>ดี</th>
                    <th>พอใช้</th>
                    <th>ปรับปรุง</th>
  
                  </tr>
                  <tr>
                    <td>
                      <div class="w3-container">
                        3.1 กระปฏิบัติตามกฏระเบียบของบริษัท
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="3.1" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="w3-container">
                        3.2 การเครรพและปฏิบัติตามระเบียบของบริษัท
                      </div>
                    </td>
                    <input type="text" name="section" id="" class="w3-check" style="width: 18px;" value="3.2" hidden>
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="5">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark1" class="w3-check"
                          style="width: 18px;" value="4">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark2" class="w3-check"
                          style="width: 18px;" value="3">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark3" class="w3-check"
                          style="width: 18px;" value="2">
                      </div>
                    </td>
  
                    <td>
                      <div class="w3-container">
                        <input type="checkbox" name="assessmentscore" id="checkmark4" class="w3-check"
                          style="width: 18px;" value="1">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <%if(session.admin){%>
                <a href="/employeelist" class="btn btn-info w3-left " id="back1"> กลับ </a>
                <%}else if(session.leader){%>
                  <a href="/homeleader" class="btn btn-info w3-left" id="back1"> กลับ </a>
                  <%}else if(session.leader2){%>
                    <a href="/homeleader2" class="btn btn-info w3-left" id="back1"> กลับ </a>
                    <%}else if(session.hr){%>
                      <a href="/homehr" class="btn btn-info w3-left" id="back1"> กลับ </a>
                      <%}else{%>
                        <a href="/" class="btn btn-info w3-left" id="back1 "> กลับ </a>
                        <%}%>
                          <a class="btn btn-success w3-right" id="yes1"> หน้าต่อไป </a>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5" id="form2">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-20">
            <div class="card">
              <div class="card-body">
             
  
                <center>
                  <h3>แบบประเมินเพื่อนร่วมงาน ประจำปี <%=session.time%>
                  </h3>
                  <h3>ถ้าไม่ใช่คุณ คุณคิดว่าบุคลใดในองค์กรที่มีคุณบักษณะดังต่อไปนี้ มากที่สุด เพียง 1
                    รายชื่อ</h3>
                </center>
                <br>
                <h5>
  
  
                  <div class="form-group">
                    <h5>1.การรักษาวินัย<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีการปฏิบัติตนตามระเบียบแบบแผนของบริษัทฯ
                      การปฏิบัติตามหลักเกณฑ์และเงื่อนไขเกี่ยวกับพนักงานจ้าง
                      และการประพฤติตนเป้นอย่างที่ดีในการเคารพกฏระเบียบต่างๆ</h6><br>
                    <input type="text" name="section" value="2.1" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput" onkeyup="myFunction()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
  
                  <div class="form-group">
                    <h5>2.การใช้เวลางานให้เป็นประโยชน์กับงาน<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่ท่านคิดว่ามีการใช้เวลางานให้เป็นประโยช์กับงาน และหน้าที่ที่ได้รับมอบหมาย
                    </h6><br>
                    <input type="text" name="section" value="2.2" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput2" onkeyup="myFunction2()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL2">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
  
                  <div class="form-group">
                    <h5>3.ปริมาณผลงาน<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่ท่านคิดว่ามีผลการทำงานหรือมีปริมาณงานโดดเด่นมากที่สุดในองค์กร</h6><br>
                    <input type="text" name="section" value="2.3" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput3" onkeyup="myFunction3()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL3">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>4.ความรับผิดชอบต่อหน้าที่<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่ปฏิบัติงานในหน้าที่ที่ได้รับมอบหมาย โดยเต็มใจ มุ่งมั่น
                      มีความขยันหมั่นเพียร ตั่งใจที่จะประฏิบัติงานให้สำเร็จลุล่วงโดยไม่ย่อท้อต่ออุปสรรคและปัญหา
                      และยอมรับผลที่เกิดขึ้นจากการทำงานในหน้าที่นั้นๆ</h6><br>
                    <input type="text" name="section" value="2.4" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput4" onkeyup="myFunction4()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL4">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>5.การมีมนุษย์สัมพันธ์<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีการรักาาความสัมพันธ์อันดีต่อเพื่อนร่วมงาน
                      มีการสร้างความสัมพันธ์อันดีกับลูกน้องและหน่อยงานอื่น
                      และมีแนวคิดในการแก้ไขปัญหาความขัดแย้งระหว่างกันและกัน</h6><br>
                    <input type="text" name="section" value="2.5" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput5" onkeyup="myFunction5()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL5">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>6.การควบคุมอารมณ์<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีทัศนคติที่ดีต่อเพื่อนร่วมงาน
                      มีความเคารพและแสดงออกต่อเพื่อนร่วมงานและสังคมในลักษณะเชิงบวก</h6><br>
                    <input type="text" name="section" value="2.6" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput6" onkeyup="myFunction6()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL6">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>7.บุคลิกภาพและการแต่งกาย<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีลักษณะการแต่งกาย และบุคลิกภาพที่ดี เหมาะสมกับสถานที่ และลักษณะงานที่ทำ
                    </h6><br>
                    <input type="text" name="section" value="2.7" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput7" onkeyup="myFunction7()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL7">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>8.การให้ความร่วมมือกับเพื่อนร่วมงาน<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีส่วนร่วมในการปฏิบัติงาน ให้ความช่วยเหลือผู้ร่วมงาน
                      มีแนวทางและสามารถแลกเปลี่ยนความคิดเห็นกับผู้อื่นหรือเพื่อนร่วมงานได้ดี</h6><br>
                    <input type="text" name="section" value="2.8" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput8" onkeyup="myFunction8()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL8">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>9.การคำนึงถึงการใช้ทรัพยากร<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีการประพฤติตนเป็นแบบอย่างที่ดีในการใช้วัสดุอุปกรณ์อย่างประหยัด
                      รวมทั้งระวังรักษาการใช้เครื่องมือเครื่องใช้ในการทำงาน ได้อย่างสม่ำเสมอ</h6><br>
                    <input type="text" name="section" value="2.9" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput9" onkeyup="myFunction9()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL9">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>10.การคำนึงถึงการใช้ทรัพยากร<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีทักษะและความสามารถในการสื่อความได้อย่างชัดเจน
                      ทำให้ผู้อื่นเข้าใจได้อย่างถูกต้องและเหมาะสมด้วยวาจา เป็นตัวอย่างที่ดีแก่ผู้ร่วมงาน</h6><br>
                    <input type="text" name="section" value="2.10" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput10" onkeyup="myFunction10()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL10">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>11.การทำงานเป็นทีม<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีความตั่งใจที่จะทำงาน ประสานงาน
                      และให้ความร่วมมืออย่างดีในการปฏิบัติงานร่วมกับผู้อื่น และกลุ่มงานอื่นๆ
                      เพื่อให้บรรลุเป้าหมายของงานที่ทำ</h6><br>
                    <input type="text" name="section" value="2.11" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput11" onkeyup="myFunction11()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL11">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>12.ความคิดริเริ่มสร้างสรรค์<font color="red"> * </font>
                    </h5>
                    <h5 id="f1">ใครเป็นบุคลากรที่รู้จักพัฒนาวิธีการทำงานในองค์กรให้มีประสิทธิผลมากกว่าเดิม
                      และรู้จักนำเทคนิคหรือวิธีการทำงานใหม่มาใช้ในที่ทำงานเพื่อให้เกิดประสิทธิผลมากขึ้น</h6><br>
                      <input type="text" name="section" value="2.12" class="form-control input-sm ee1" hidden></input>
                      <input type="text" id="myInput12" onkeyup="myFunction12()" name="name" placeholder="กรอกรายชื่อ"
                        class="form-control input-sm ee1"></input>
                      <ul id="myUL12">
                        <% if(data2){ %>
                          <% for(var i=0 ; i < data2.length;i++){ %>
                            <li>
                              <option value="">
                                <%= data2[i].nickname %>
                              </option>
                            </li>
                            <% } %>
                              <% } %>
                      </ul>
                  </div>
                  <div class="form-group">
                    <h5>13.การวางแผน<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีการคิดวางแผนงานตามเป้าหมายได้ถูกต้องพอสมควร หรือสมบูรณ์
                      และสามารถนำไปปฏิบัติได้ตามวัตถุประสงค์และบรรลุผลของงาน</h6><br>
                    <input type="text" name="section" value="2.13" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput13" onkeyup="myFunction13()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL13">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>14.การตัดสินใจแก้ปัญหาในงาน<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีการตัดสินใจและแก้ปัญหาได้ดี มีการวิเคาระห์ปัญหาอย่างรอบครอบถี่ถ้วน
                      โดยใช้ความรู้ในงานและสามัญสำนึกได้ดี สามารถแก้ไขสถานการณ์ได้อย่างดี</h6><br>
                    <input type="text" name="section" value="2.14" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput14" onkeyup="myFunction14()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL14">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
                  <div class="form-group">
                    <h5>15.ความสามารถในการเป็นผู้นำทีม<font color="red"> * </font>
                    </h5>
                    <h6 id="f1">ใครเป็นบุคลากรที่มีความสามารถในการเป็นผู้นำได้เป็นอย่างดี ผู้ร่วมงานในทีมส่วนใหญ่
                      หรือทกคนให้ความร่วมมือในการปฏิบัติงานเพื่อให้งานบรรลุตามเป้าหมาย</h6><br>
                    <input type="text" name="section" value="2.15" class="form-control input-sm ee1" hidden></input>
                    <input type="text" id="myInput15" onkeyup="myFunction15()" name="name" placeholder="กรอกรายชื่อ"
                      class="form-control input-sm ee1"></input>
                    <ul id="myUL15">
                      <% if(data2){ %>
                        <% for(var i=0 ; i < data2.length;i++){ %>
                          <li>
                            <option value="">
                              <%= data2[i].nickname %>
                            </option>
                          </li>
                          <% } %>
                            <% } %>
                    </ul>
                  </div>
              </div>
            </div><br>
            <a class="btn btn-info w3-left" id="back"> กลับ </a>
            <button type="submit" class="btn btn-success w3-right" id="yes"> ยืนยัน </button>
            <br><br><br>
          </div>
        </div>
      </div>
    </form>
    <style>
      th {
        color: #5a5a5a;
      }
  
      tr {
        color: #5a5a5a;
      }
  
      div {
        color: #5a5a5a;
      }
  
      #f1 {
        font-weight: normal;
      }
    </style>
  
    <script>
      $(document).ready(function () {
        $("#form2").hide();
        $("#yes1").click(function () {
          $("#form1").hide();
          $("#form2").show();
        });
        $("#back").click(function () {
          $("#form2").hide();
          $("#form1").show();
        });
      });
  
      $(document).ready(function () {
        $("#myUL").hide();
        $("#myUL2").hide();
        $("#myUL3").hide();
        $("#myUL4").hide();
        $("#myUL5").hide();
        $("#myUL6").hide();
        $("#myUL7").hide();
        $("#myUL8").hide();
        $("#myUL9").hide();
        $("#myUL10").hide();
        $("#myUL11").hide();
        $("#myUL12").hide();
        $("#myUL13").hide();
        $("#myUL14").hide();
        $("#myUL15").hide();
        $("#myInput").keypress(function () {
          $("#myUL").show();
        });
        $("#myInput").mouseleave(function () {
          $("#myUL").hide();
        });
        $("#myInput2").keypress(function () {
          $("#myUL2").show();
        });
        $("#myInput2").mouseleave(function () {
          $("#myUL2").hide();
        });
        $("#myInput3").keypress(function () {
          $("#myUL3").show();
        });
        $("#myInput3").mouseleave(function () {
          $("#myUL3").hide();
        });
        $("#myInput4").keypress(function () {
          $("#myUL4").show();
        });
        $("#myInput4").mouseleave(function () {
          $("#myUL4").hide();
        });
        $("#myInput5").keypress(function () {
          $("#myUL5").show();
        });
        $("#myInput5").mouseleave(function () {
          $("#myUL5").hide();
        });
        $("#myInput6").keypress(function () {
          $("#myUL6").show();
        });
        $("#myInput6").mouseleave(function () {
          $("#myUL6").hide();
        });
        $("#myInput7").keypress(function () {
          $("#myUL7").show();
        });
        $("#myInput7").mouseleave(function () {
          $("#myUL7").hide();
        });
        $("#myInput8").keypress(function () {
          $("#myUL8").show();
        });
        $("#myInput8").mouseleave(function () {
          $("#myUL8").hide();
        });
        $("#myInput9").keypress(function () {
          $("#myUL9").show();
        });
        $("#myInput9").mouseleave(function () {
          $("#myUL9").hide();
        });
        $("#myInput10").keypress(function () {
          $("#myUL10").show();
        });
        $("#myInput10").mouseleave(function () {
          $("#myUL10").hide();
        });
        $("#myInput11").keypress(function () {
          $("#myUL11").show();
        });
        $("#myInput11").mouseleave(function () {
          $("#myUL11").hide();
        });
        $("#myInput12").keypress(function () {
          $("#myUL12").show();
        });
        $("#myInput12").mouseleave(function () {
          $("#myUL12").hide();
        });
        $("#myInput13").keypress(function () {
          $("#myUL13").show();
        });
        $("#myInput13").mouseleave(function () {
          $("#myUL13").hide();
        });
        $("#myInput14").keypress(function () {
          $("#myUL14").show();
        });
        $("#myInput14").mouseleave(function () {
          $("#myUL14").hide();
        });
        $("#myInput15").keypress(function () {
          $("#myUL15").show();
        });
        $("#myInput15").mouseleave(function () {
          $("#myUL15").hide();
        });
      });
  
  
      function myFunction() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
      function myFunction2() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput2");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL2");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction3() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput3");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL3");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction4() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput4");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL4");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
      function myFunction5() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput5");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL5");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction6() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput6");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL6");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction7() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput7");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL7");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction8() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput8");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL8");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction9() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput9");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL9");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction10() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput10");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL10");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction11() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput11");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL11");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction12() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput12");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL12");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction13() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput13");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL13");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction14() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput14");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL14");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
      function myFunction15() {
        var input, filter, ul, li, option, i, txtValue;
        input = document.getElementById("myInput15");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL15");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
          option = li[i].getElementsByTagName("option")[0];
          txtValue = option.textContent || option.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
          } else {
            li[i].style.display = "none";
          }
        }
      }
  
  
    </script>

    <%- include ("../../views/_footer") %>