<%- include ("../../views/_headeradmin") %>
        <br>
        <div class="continer" align="center">
            <h1 > ประวัติรายชื่อที่ถูกนำเสนอ </h1>
            <div class="row mt-4">
                <div class="col-md-3"></div>
                <div class="col-md-16">


                    <table class="table table-bordered table-hover">


                        <thead align="center">


                            <tr class="table-active ">

                                <th>ลำดับ</th>
                                <th>ข้อ 1</th>
                                <th>ข้อ 2</th>
                                <th>ข้อ 3</th>
                                <th>ข้อ 4</th>
                                <th>ข้อ 5</th>
                                <th>ข้อ 6</th>
                                <th>ข้อ 7</th>
                                <th>ข้อ 8</th>
                                <th>ข้อ 9</th>
                                <th>ข้อ 10</th>
                                <th>ข้อ 11</th>
                                <th>ข้อ 12</th>
                                <th>ข้อ 13</th>
                                <th>ข้อ 14</th>
                                <th>ข้อ 15</th>
                                <th>ตัวเลือก</th>
                              
                            </tr>
                        </thead>

                        <tbody align="center">
                            <% if(data){ %>
                                <% for(var i=0 ; i < data.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%= (i+1) %>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[0] %>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[1]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[2]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[3]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[4]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[5]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[6]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[7]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[8]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[9]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[10]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[11]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[12]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[13]%>
                                        </td>
                                        <td>
                                            <%= data[i].name.split(",")[14]%>
                                        </td>
                                        <td>
                                            <a href="/evaluatecolleaguesrecord/edit/<%= data[i].evid %>" class="btn btn-danger"> แก้ไข</a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

        <style>
            #h1id {
                position: relative;
                margin-left: 40.5%;
            }

            #aid {
                position: relative;
                font-size: 18px;
                margin-left: 67.7%;
            }
        </style>


        <%- include ("../../views/_footer") %>