<%- include ("../../views/_header") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-20">
                <div class="card">
                    <div class="card-body">
                        <form action="/evaluatecolleagues/update/<%=data.evid%>" method="post"  >
                            <center>
                                <h3 style="font-weight:bold;">แบบประเมินเพื่อนร่วมงาน ประจำปี 2565</h3>
                                <h3 style="font-weight:bold;">ถ้าไม่ใช่คุณ คุณคิดว่าบุคลใดในองค์กรที่มีคุณบักษณะดังต่อไปนี้ มากที่สุด เพียง 1 รายชื่อ</h3>
                            </center>
                            <br>
                            <h5>
                              
                                
                                <div class="form-group" >
                                    <h5><font id="f2">1.การรักษาวินัย</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีการปฏิบัติตนตามระเบียบแบบแผนของบริษัทฯ การปฏิบัติตามหลักเกณฑ์และเงื่อนไขเกี่ยวกับพนักงานจ้าง และการประพฤติตนเป้นอย่างที่ดีในการเคารพกฏระเบียบต่างๆ</h6><br>
                                    <input type="text" name="section"   value="2.1" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[0]%>' class="form-control"></input>
                                    
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">2.การใช้เวลางานให้เป็นประโยชน์กับงาน</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่ท่านคิดว่ามีการใช้เวลางานให้เป็นประโยช์กับงาน และหน้าที่ที่ได้รับมอบหมาย</h6><br>
                                    <input type="text" name="section"   value="2.2" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[1]%>'  class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">3.ปริมาณผลงาน</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่ท่านคิดว่ามีผลการทำงานหรือมีปริมาณงานโดดเด่นมากที่สุดในองค์กร</h6><br>
                                    <input type="text" name="section"   value="2.3" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[2]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">4.ความรับผิดชอบต่อหน้าที่</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่ปฏิบัติงานในหน้าที่ที่ได้รับมอบหมาย โดยเต็มใจ มุ่งมั่น มีความขยันหมั่นเพียร ตั่งใจที่จะประฏิบัติงานให้สำเร็จลุล่วงโดยไม่ย่อท้อต่ออุปสรรคและปัญหา และยอมรับผลที่เกิดขึ้นจากการทำงานในหน้าที่นั้นๆ</h6><br>
                                    <input type="text" name="section"   value="2.4" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[3]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">5.การมีมนุษย์สัมพันธ์</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีการรักาาความสัมพันธ์อันดีต่อเพื่อนร่วมงาน มีการสร้างความสัมพันธ์อันดีกับลูกน้องและหน่อยงานอื่น และมีแนวคิดในการแก้ไขปัญหาความขัดแย้งระหว่างกันและกัน</h6><br>
                                    <input type="text" name="section"   value="2.5" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[4]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">6.การควบคุมอารมณ์</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีทัศนคติที่ดีต่อเพื่อนร่วมงาน มีความเคารพและแสดงออกต่อเพื่อนร่วมงานและสังคมในลักษณะเชิงบวก</h6><br>
                                    <input type="text" name="section"   value="2.6" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[5]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">7.บุคลิกภาพและการแต่งกาย</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีลักษณะการแต่งกาย และบุคลิกภาพที่ดี เหมาะสมกับสถานที่ และลักษณะงานที่ทำ</h6><br>
                                    <input type="text" name="section"   value="2.7" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[6]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">8.การให้ความร่วมมือกับเพื่อนร่วมงาน</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีส่วนร่วมในการปฏิบัติงาน ให้ความช่วยเหลือผู้ร่วมงาน มีแนวทางและสามารถแลกเปลี่ยนความคิดเห็นกับผู้อื่นหรือเพื่อนร่วมงานได้ดี</h6><br>
                                    <input type="text" name="section"   value="2.8" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[7]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">9.การคำนึงถึงการใช้ทรัพยากร</font>font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีการประพฤติตนเป็นแบบอย่างที่ดีในการใช้วัสดุอุปกรณ์อย่างประหยัด รวมทั้งระวังรักษาการใช้เครื่องมือเครื่องใช้ในการทำงาน ได้อย่างสม่ำเสมอ</h6><br>
                                    <input type="text" name="section"   value="2.9" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[8]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">10.การคำนึงถึงการใช้ทรัพยากร</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีทักษะและความสามารถในการสื่อความได้อย่างชัดเจน ทำให้ผู้อื่นเข้าใจได้อย่างถูกต้องและเหมาะสมด้วยวาจา เป็นตัวอย่างที่ดีแก่ผู้ร่วมงาน</h6><br>
                                    <input type="text" name="section"   value="2.10" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[9]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">11.การทำงานเป็นทีม</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีความตั่งใจที่จะทำงาน ประสานงาน และให้ความร่วมมืออย่างดีในการปฏิบัติงานร่วมกับผู้อื่น และกลุ่มงานอื่นๆ เพื่อให้บรรลุเป้าหมายของงานที่ทำ</h6><br>
                                    <input type="text" name="section"   value="2.11" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[10]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">12.ความคิดริเริ่มสร้างสรรค์</font><font color="red"> * </font> </h5>
                                    <h5 id="f1">ใครเป็นบุคลากรที่รู้จักพัฒนาวิธีการทำงานในองค์กรให้มีประสิทธิผลมากกว่าเดิม และรู้จักนำเทคนิคหรือวิธีการทำงานใหม่มาใช้ในที่ทำงานเพื่อให้เกิดประสิทธิผลมากขึ้น</h6><br>
                                        <input type="text" name="section"   value="2.12" class="form-control input-sm ee1" hidden></input>
                                        <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[11]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">13.การวางแผน</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีการคิดวางแผนงานตามเป้าหมายได้ถูกต้องพอสมควร หรือสมบูรณ์ และสามารถนำไปปฏิบัติได้ตามวัตถุประสงค์และบรรลุผลของงาน</h6><br>
                                    <input type="text" name="section"   value="2.13" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[12]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">14.การตัดสินใจแก้ปัญหาในงาน</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีการตัดสินใจและแก้ปัญหาได้ดี มีการวิเคาระห์ปัญหาอย่างรอบครอบถี่ถ้วน โดยใช้ความรู้ในงานและสามัญสำนึกได้ดี สามารถแก้ไขสถานการณ์ได้อย่างดี</h6><br>
                                    <input type="text" name="section"   value="2.14" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[13]%>' class="form-control input-sm ee1"></input>
                                </div>
                                <div class="form-group">
                                    <h5><font id="f2">15.ความสามารถในการเป็นผู้นำทีม</font><font color="red"> * </font> </h5>
                                    <h6 id="f1">ใครเป็นบุคลากรที่มีความสามารถในการเป็นผู้นำได้เป็นอย่างดี ผู้ร่วมงานในทีมส่วนใหญ่ หรือทกคนให้ความร่วมมือในการปฏิบัติงานเพื่อให้งานบรรลุตามเป้าหมาย</h6><br>
                                    <input type="text" name="section"   value="2.15" class="form-control input-sm ee1" hidden></input>
                                    <input type="text" name="name" placeholder="กรอกรายชื่อ" value='<%= data.name.split(",")[14]%>' class="form-control input-sm ee1"></input>
                                </div>
                            

                            <a href="/evaluatecolleaguesrecord/<%=data.evem%>" class="btn btn-info" align="right"> กลับ </a>
                            <button type="submit" class="btn btn-success w3-right " id="yes"> ยืนยัน </button>
                        



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        div{
            color:#5a5a5a;
        }

         #f1{
            font-weight: normal;
         }
         #f2{
            font-weight: bold;
         }
         
    </style>
<script>
      
  document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("กรุณากรอกช่องนี้");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
})


</script>

    <%- include ("../../views/_footer") %>