<%- include ("../../views/_header") %>
<div class="w3-main w3-content w3-padding" style="max-width:800px;margin-top:5px" id="form1">
    <div class="w3-row-padding w3-padding-16">
            <div class="card">
                <div class="card-body">
                    <form action="/register/save" method="post">
                        <center>
                            <h1>ลงทะเบียน</h1>
                        </center>
                        <br>
                        <h5>
                          <div class="w3-container">
                            <div class="w3-quarter">  
                                <input type="radio" name="usertype" id = "checkmark1" placeholder="ชื่อ" class="w3-check" value="1" style="width: 15px;" required> <font id = "f1">ผู้จัดการ</font> 
                              </div>
                              <div class="w3-quarter">
                                <input type="radio" name="usertype" id = "checkmark2" placeholder="ชื่อ" class="w3-check" value="2" style="width: 15px;" required> <font id= "f1">หัวหน้า</font> 
                              </div>
                              <div class="w3-quarter">
                                <input type="radio" name="usertype" id = "checkmark3" placeholder="ชื่อ" class="w3-check" value="3" style="width: 15px;" required> <font id="f1">HR</font> 
                              </div>
                              <div class="w3-quarter">
                                <input type="radio" name="usertype" id = "checkmark4" placeholder="ชื่อ" class="w3-check" value="4" style="width: 15px;" required> <font id="f1">พนักงาน</font> 
                            </div>
                          </div>                          
                            <br>
                            <div class="w3-container">
                              <div class="w3-half" >
                                ชื่อผู้ใช้:  <font color="red">*</font><br> 
                                <input type="text" name="username"placeholder="ชื่อผู้ใช้" id = "re1" class="form-control" required>
                              </div>
                          
  
                              <div class="w3-half" >
                                รหัสผ่าน: <font color="red">*</font> 
                                <input type="password" name="password"placeholder="รหัสผ่าน" id = "re1" class="form-control" required>
                              </div>
                            </div>
                              <br>
                            <div class="w3-container" >
                              <div class="w3-quarter" >  
                              <a >คำนำหน้า:<font color=#FF0000>*</font></a>  <br>
                                <select id = "re2" class='form-control' name='sex_id' required>
                                <option  value=""> กรุณาเลือก </option>
                                <% if(data2) { %>
                                  <% for(var i=0; i<data2.length; i++){ %>
                                        <option value="<%= data2[i].id %>">
                                                    <%= data2[i].sex %>
                                                  </option>
                                              <%}%>
                                        <%}%>
                                  </select>
                                  </div>
                                  <div class="w3-quarter"> 
                                  <font id ="f4">ชื่อ</font>:<font color="red">*</font> 
                                  <input type="text" name="firstname" placeholder="ชื่อ" id = "re3" class="form-control"   required>
                                </div>
                                <div class="w3-quarter">
                                  <font id = "f5">นามสกุล</font>:<font color="red">*</font> 
                                  <input type="text" name="lastname" placeholder="นามสกุล" id = "re3" class="form-control" required>
                                </div>
                                <div class="w3-quarter" >
                                  <font id = "f6">ชื่อเล่น</font> : <font color="red"> * </font>
                                  <input type="text" name="nickname"  placeholder="ชื่อเล่น" id = "re4" class="form-control" required>
                              </div>
                            </div>
                          <br>
  
                            <div class="w3-container">
                            <div class="w3-half">
                              <label for="validationCustom03">ฝ่าย:<font color = "red">*</font></label>
                                    <select id = "re5" class='form-control' name='department_id' required>
                                        <option  value=""> กรุณาเลือก </option>
                                        <% if(data3) { %>
                                          <% for(var i=0; i<data3.length; i++){ %>
                                                <option value="<%= data3[i].id %>">
                                                            <%= data3[i].department %>
                                                          </option>
                                                      <%}%>
                                                <%}%>
                                          </select>
                              
                                        </div>
  
                                        <div class="w3-half">
                                          <label for="validationCustom04" id = "f7">แผนก:<font color = "red">*</font></label>
                                          <select id = "re5" class='form-control' name='subdepartment_id' required>
                                            <option  value=""> กรุณาเลือก </option>
                                            <% if(data4) { %>
                                              <% for(var i=0; i<data4.length; i++){ %>
                                                    <option value="<%= data4[i].id %>">
                                                                <%= data4[i].subdepartment %>
                                                              </option>
                                                          <%}%>
                                                    <%}%>
                                              </select>
                                            </div>
                                          </div>
                                          <br>
  
                            <div class="w3-container">
                              <div class="w3-half">
                                <font id = "" >ตำแหน่ง</font>:<font color="red">*</font>
                                <input type="text" name="position"placeholder="ตำแหน่ง" id = "re1" class="form-control" required>
                              </div>    
  
                              <div class="w3-half">
                                <a >บริษัท:<font color=#FF0000>*</font></a>  <br>                              
                                <select id = "re5" class='form-control' name='company_id' required>                                  
                                    <option  value=""> กรุณาเลือก </option>
                                    <% if(data5) { %>
                                      <% for(var i=0; i<data5.length; i++){ %>
                                            <option value="<%= data5[i].id %>">
                                                        <%= data5[i].companyname %>
                                                      </option>
                                                  <%}%>
                                            <%}%>
                                 
                                      </select>
                              </div>
                          </div>



                        </h5>
                        <br>
                        <%if(session.admin){%>
                        <a href="/register" class="btn btn-info w3-left" align="right"> กลับ </a>
                        <button type="submit" class="btn btn-success w3-right" id="yes2"> ยืนยัน </button>
                        <%}else{%>
                            <a href="/" class="btn btn-info w3-left" align="right"> กลับ </a> 
                            <button type="submit" class="btn btn-success w3-right" id="yes2"> ยืนยัน </button>
                        <%}%>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
    <style>
        div{
            color: #5a5a5a;
        }
        
    </style>
    <script>
          
  document.addEventListener("DOMContentLoaded", function() {
    var elements = document.getElementsByTagName("INPUT");
    for (var i = 0; i < elements.length; i++) {
        elements[i].oninvalid = function(e) {
            e.target.setCustomValidity("");
            if (!e.target.validity.valid) {
                e.target.setCustomValidity("กรุณากรอกช่องนี้");
            }
        };
        elements[i].oninput = function(e) {
            e.target.setCustomValidity("");
        };
    }
})


    </script>



    <%- include ("../../views/_footer") %>