<%if (session.admin) {%>
    <%- include ("../../views/_headeradmin") %>
        <%}else if(session.leader){%>
            <%- include ("../../views/_headerleader") %>
                <%}else{%>
                    <%- include ("../../views/_headerleader2") %>
                        <%}%>
                            <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:5px">
                                <div class="w3-row-padding w3-padding-16 w3-center ">
                                    <div class="w3-rest w3-container">
                                        <div class="continer" id="form1">
                                            <h1 id="h1id" align="center"> ประวัติการประเมิน </h1>
                                            <br>

                                            <h4>
                                                <font style="font-weight: bold;"> ชื่อ-นามสกุล : </font>
                                                <font id="f1">
                                                    <%=data[0].sex%>
                                                        <%=data[0].firstname%>
                                                            <%=data[0].lastname%>
                                                </font>
                                                <font style="font-weight: bold;"> ฝ่าย :</font>
                                                <font id="f1">
                                                    <%=data[0].department%>
                                                </font>
                                            </h4>
                                            <div class=" w3-rest  w3-padding-16 w3-container ">
                                                <a href="/leaderlistadmin" class="btn btn-info w3-left"
                                                     id="back"> กลับ</a>

                                                <a class="btn btn-success w3-right" id="yes" style="margin-left:auto;">หน้าต่อไป
                                                </a>
                                            </div>
                                            <div style="overflow-x:auto;">
                                                <table class="table table-bordered table-hover">
                                                    <thead align="center">
                                                        <tr class="table-active ">
                                                            <th>ลำดับ</th>
                                                            <th>ข้อ 1.1</th>
                                                            <th>ข้อ 1.2</th>
                                                            <th>ข้อ 1.3</th>
                                                            <th>ข้อ 1.4</th>
                                                            <th>ข้อ 1.5</th>
                                                            <th>ผลรวม</th>
                                                            <th>วัน/เดือน/ปี</th>
                                                            <th>ตัวเลือก</th>

                                                        </tr>
                                                    </thead>

                                                    <tbody align="center">
                                                        <% if(data){ %>

                                                            <% for(var i=0 ; i < data.length;i++){ %>

                                                                <tr>
                                                                    <td>
                                                                        <%= (i+1) %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[0] %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[1] %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[2] %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[3] %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[4] %>
                                                                    </td>
                                                                    <td>
                                                                        <%= Number(data[i].assessmentscore.split(",")[0])+
                                                                            Number(data[i].assessmentscore.split(",")[1])+
                                                                            Number(data[i].assessmentscore.split(",")[2])+
                                                                            Number(data[i].assessmentscore.split(",")[3])+
                                                                            Number(data[i].assessmentscore.split(",")[4])%>
                                                                    </td>
                                                                    <td>
                                                                        <%=data[i].chdt%>
                                                                    </td>


                                                                    <td>
                                                                        <a href="/leaderadmin/del/<%= data[i].chid %>"
                                                                            class="btn btn-danger"> ลบ</a>

                                                                    </td>
                                                                </tr>
                                                                <% } %>
                                                                    <% } %>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="w3-rest w3-container">
                                        <div class="continer" align="center" id="form2">
                                            <h1 id="h1id"> ประวัติการประเมิน </h1>
                                            <br>
                                            <h4>
                                                <font style="font-weight: bold;"> ชื่อ-นามสกุล : </font>
                                                <font id="f1">
                                                    <%=data[0].sex%>
                                                        <%=data[0].firstname%>
                                                            <%=data[0].lastname%>
                                                </font>
                                                <font style="font-weight: bold;"> ฝ่าย :</font>
                                                <font id="f1">
                                                    <%=data[0].department%>
                                                </font>
                                            </h4>
                                            <div class=" w3-rest  w3-padding-16 w3-container ">
                                                <a class="btn btn-info w3-left"  id="back2"> กลับ
                                                </a>
                                                <a class="btn btn-success w3-right" id="yes2"> หน้าต่อไป </a>
                                            </div>
                                            <div style="overflow-x:auto;">
                                                <table class="table table-bordered table-hover">
                                                    <thead align="center">


                                                        <tr class="table-active ">

                                                            <th>ลำดับ</th>
                                                            <th>ข้อ 2.1</th>
                                                            <th>ข้อ 2.2</th>
                                                            <th>ข้อ 2.3</th>
                                                            <th>ข้อ 2.4</th>
                                                            <th>ข้อ 2.5</th>
                                                            <th>ข้อ 2.6</th>
                                                            <th>ข้อ 2.7</th>
                                                            <th>ผลรวม</th>
                                                            <th>วัน/เดือน/ปี</th>
                                                            <th>ตัวเลือก</th>

                                                        </tr>
                                                    </thead>

                                                    <tbody align="center">
                                                        <% if(data){ %>
                                                            <% for(var i=0 ; i < data.length;i++){ %>
                                                                <tr>
                                                                    <td>
                                                                        <%= (i+1) %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[5] %> :
                                                                            <%=data[i].assessmentscore.split(",")[6]%>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[7] %> :
                                                                            <%= data[i].assessmentscore.split(",")[8] %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[9] %> :
                                                                            <%= data[i].assessmentscore.split(",")[10]
                                                                                %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[11] %> :
                                                                            <%= data[i].assessmentscore.split(",")[12]
                                                                                %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[13] %> :
                                                                            <%= data[i].assessmentscore.split(",")[14]
                                                                                %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[15] %> :
                                                                            <%= data[i].assessmentscore.split(",")[16]
                                                                                %>
                                                                    </td>
                                                                    <td>
                                                                        <%= data[i].assessmentscore.split(",")[17] %> :
                                                                            <%= data[i].assessmentscore.split(",")[18]
                                                                                %>
                                                                    </td>
                                                                    <td>
                                                                        <%= Number(data[i].assessmentscore.split(",")[6])
                                                                            +
                                                                            Number(data[i].assessmentscore.split(",")[8])
                                                                            +
                                                                            Number(data[i].assessmentscore.split(",")[10])
                                                                            +
                                                                            Number(data[i].assessmentscore.split(",")[12])
                                                                            +
                                                                            Number(data[i].assessmentscore.split(",")[14])
                                                                            +
                                                                            Number(data[i].assessmentscore.split(",")[16])
                                                                            +
                                                                            Number(data[i].assessmentscore.split(",")[18])
                                                                            %>
                                                                    </td>
                                                                    <td>
                                                                        <%=data[i].chdt%>
                                                                    </td>
                                                                    <td>
                                                                        <a href="/leader/edit/<%= data[i].chid %>"
                                                                            class="btn btn-danger"> แก้ไข</a>
                                                                    </td>

                                                                </tr>
                                                                <% } %>
                                                                    <% } %>

                                                    </tbody>
                                                </table>

                                            </div>
                                        </div>



                                        <div class="w3-rest w3-container">
                                            <div class="continer" align="center" id="form3">
                                                <h1 id="h1id"> ประวัติการประเมิน </h1><br>
                                                <h4>
                                                    <font style="font-weight: bold;"> ชื่อ-นามสกุล : </font>
                                                    <font id="f1">
                                                        <%=data[0].sex%>
                                                            <%=data[0].firstname%>
                                                                <%=data[0].lastname%>
                                                    </font>
                                                    <font style="font-weight: bold;"> ฝ่าย :</font>
                                                    <font id="f1">
                                                        <%=data[0].department%>
                                                    </font>
                                                </h4>
                                                <div class=" w3-rest  w3-padding-16 w3-container ">
                                                    <a class="btn btn-info w3-left" id="back3" style="margin-right : 58.5%;">
                                                        กลับ
                                                    </a>
                                                </div>



                                                <div style="overflow-x:auto;">
                                                    <table class="table table-bordered table-hover">



                                                        <thead align="center">


                                                            <tr class="table-active ">

                                                                <th>ลำดับ</th>
                                                                <th>ข้อ 3.1</th>
                                                                <th>ข้อ 3.2</th>
                                                                <th>ข้อ 3.3</th>
                                                                <th>ข้อ 3.4</th>
                                                                <th>ข้อ 3.5</th>
                                                                <th>ข้อ 3.6</th>
                                                                <th>ข้อ 3.7</th>
                                                                <th>ข้อ 3.8</th>
                                                                <th>ผลรวม</th>
                                                                <th>วัน/เดือน/ปี</th>
                                                                <th>ตัวเลือก</th>

                                                            </tr>
                                                        </thead>

                                                        <tbody align="center">
                                                            <% if(data){ %>
                                                                <% for(var i=0 ; i < data.length;i++){ %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= (i+1) %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[19]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[20]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[21]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[22]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[23]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[24]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[25]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[26]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[27]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[28]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[29]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[30]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[31]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[32]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= data[i].assessmentscore.split(",")[33]
                                                                                %> :
                                                                                <%= data[i].assessmentscore.split(",")[34]
                                                                                    %>
                                                                        </td>
                                                                        <td>
                                                                            <%= Number(data[i].assessmentscore.split(",")[20])
                                                                                +
                                                                                Number(data[i].assessmentscore.split(",")[22])
                                                                                +
                                                                                Number(data[i].assessmentscore.split(",")[24])
                                                                                +
                                                                                Number(data[i].assessmentscore.split(",")[26])
                                                                                +
                                                                                Number(data[i].assessmentscore.split(",")[28])
                                                                                +
                                                                                Number(data[i].assessmentscore.split(",")[30])
                                                                                +
                                                                                Number(data[i].assessmentscore.split(",")[32])
                                                                                +
                                                                                Number(data[i].assessmentscore.split(",")[34])
                                                                                %>
                                                                        </td>
                                                                        <td>
                                                                            <%=data[i].chdt%>
                                                                        </td>
                                                                        <td>
                                                                            <a href="/leader/edit/<%= data[i].chid %>"
                                                                                class="btn btn-danger"> แก้ไข</a>
                                                                        </td>
                                                                    </tr>
                                                                    <% } %>
                                                                        <% } %>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    



                            <style>

                                th {
                                    color: #5a5a5a;
                                }

                                tr {
                                    color: #5a5a5a;
                                }
                            </style>

                            <script>
                                $(document).ready(function () {
                                    $("#form2").hide();
                                    $("#form3").hide();
                                    $("#yes").click(function () {
                                        $("#form1").hide();
                                        $("#form2").show();
                                    });
                                    $("#yes2").click(function () {
                                        $("#form2").hide();
                                        $("#form3").show();
                                    });

                                    $("#back2").click(function () {
                                        $("#form2").hide();
                                        $("#form1").show();
                                    });
                                    $("#back3").click(function () {
                                        $("#form3").hide();
                                        $("#form2").show();
                                    });
                                });
                            </script>
                            <%- include ("../../views/_footer") %>